# Ex1 - Getting and Knowing your Data


### Step 1: Initialize PySpark Session

In [9]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("Day1").getOrCreate()

In [10]:
# Create a Spark session
spark = SparkSession.builder.appName("Day1").getOrCreate()

### Step 2: Load the Dataset

In [11]:
# Load the Chipotle dataset into a Spark DataFrame
data_path = '/content/chipotle.csv' # Replace with the actual path
df = spark.read.csv(data_path, header=True, inferSchema=True)

### Step 3. Get an overview of the DataFrame:

In [12]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- order_id: integer (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- item_name: string (nullable = true)
 |-- choice_description: string (nullable = true)
 |-- item_price: string (nullable = true)

In [13]:
df.show(5)

+---+--------+--------+--------------------+--------------------+----------+
|_c0|order_id|quantity|           item_name|  choice_description|item_price|
+---+--------+--------+--------------------+--------------------+----------+
|  0|       1|       1|Chips and Fresh T...|                null|    $2.39 |
|  1|       1|       1|                Izze|        [Clementine]|    $3.39 |
|  2|       1|       1|    Nantucket Nectar|             [Apple]|    $3.39 |
|  3|       1|       1|Chips and Tomatil...|                null|    $2.39 |
|  4|       2|       2|        Chicken Bowl|[Tomatillo-Red Ch...|   $16.98 |
+---+--------+--------+--------------------+--------------------+----------+
only showing top 5 rows

In [19]:
#Using sql

df.createOrReplaceTempView('table')
query = 'select * from table limit 5'
result = spark.sql(query)
result.show()

+---+--------+--------+--------------------+--------------------+----------+
|_c0|order_id|quantity|           item_name|  choice_description|item_price|
+---+--------+--------+--------------------+--------------------+----------+
|  0|       1|       1|Chips and Fresh T...|                null|    $2.39 |
|  1|       1|       1|                Izze|        [Clementine]|    $3.39 |
|  2|       1|       1|    Nantucket Nectar|             [Apple]|    $3.39 |
|  3|       1|       1|Chips and Tomatil...|                null|    $2.39 |
|  4|       2|       2|        Chicken Bowl|[Tomatillo-Red Ch...|   $16.98 |
+---+--------+--------+--------------------+--------------------+----------+

### Step 4.Calculate basic statistics:

In [15]:
# .describe() method can be used to do so

df.describe().show()

+-------+------------------+-----------------+------------------+-----------------+--------------------+----------+
|summary|               _c0|         order_id|          quantity|        item_name|  choice_description|item_price|
+-------+------------------+-----------------+------------------+-----------------+--------------------+----------+
|  count|              4622|             4622|              4622|             4622|                3376|      4622|
|   mean|            2310.5|927.2548680225011|1.0757247944612722|             null|                null|      null|
| stddev|1334.4008018582722|528.8907955866096|0.4101863342575333|             null|                null|      null|
|    min|                 0|                1|                 1|6 Pack Soft Drink|[Adobo-Marinated ...|    $1.09 |
|    max|              4621|             1834|                15|Veggie Soft Tacos|[[Tomatillo-Red C...|    $9.39 |
+-------+------------------+-----------------+------------------+-----------------+--------------------+----------+

### Step 5. What is the number of observations in the dataset?

In [16]:
num_rows = df.count()
print("Number of rows: ",num_rows)

Number of rows:  4622

### Step 6. What is the number of columns in the dataset?

In [17]:
num_col = len(df.columns)
print("Number of Columns:", num_col)

Number of Columns: 6

### Step 7. Print the name of all the columns.

In [18]:
col_names= df.columns
print("Column Names: ", col_names)

Column Names:  ['_c0', 'order_id', 'quantity', 'item_name', 'choice_description', 'item_price']